<section>
    <header>
        <div class="logo">
            <img src="./img/logo-text.png" alt="">
        </div>
        <div class="input-container">
            <input (click)="this.searchbarService.filteredUsers" [(ngModel)]="this.searchbarService.searchName"  type="text" placeholder="Devspace durchsuchen">
            <img src="./icons/search-thin-grey.png" alt="">
        </div>
        <div (click)="openDialog()" class="user-container">
            <p>{{ authService.currentUserSig()?.username }}</p>
            <div class="avatar-with-status">
                <img class="user-img" src="{{authService.currentUserSig()?.avatar}}" referrerPolicy="no-referrer" alt="">
                <img class="status" src="./icons/Online.png" alt="">
            </div>
            <img src="./icons/down.png" alt="">
        </div>
    </header>
</section>