<section>
    <header>
        <div class="logo">
            <img src="./img/logo-text.png" alt="">
        </div>
        <div class="input-container">
            <input type="text" placeholder="Devspace durchsuchen">
            <img src="./icons/search-thin-grey.png" alt="">
        </div>
        <div class="user-container">
            <p>{{ authService.currentUserSig()?.username }}</p>
            <div class="avatar-with-status">
                <img src="./img/avatars/avatar_0.png" alt="">
                <img class="status" src="./icons/Online.png" alt="">
            </div>
            <img src="./icons/down.png" alt="">

        </div>

    </header>

</section>