@import './../../styles.scss';

section {
  width: 100%;
  background-color: $bgHover ;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
}

header {
 width: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo{
  @include dFlex(flex-start);
  flex-shrink: 0; /* Verhindert, dass das Logo schrumpft */
  margin: 20px;
  width: 346px;
}

.mobile-logo{
  flex-shrink: 1 !important;

  img{
    width: 160px;
    height: 45px;
    object-fit: contain;
  }
}

.min-width{
  width: min-content !important;
}

.search-container {
  flex-grow: 1; /* Lässt die Suchleiste so viel Platz wie möglich einnehmen */
  display: flex;
}

.input-container {
  position: relative;
  width: 100%; /* Nimmt die volle Breite des Containers ein */
  max-width: unset; /* Entfernt eventuell übernommene Einschränkungen */
  display: flex;

  > input {
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Nunito';
    border-radius: 42px;
    border: none;
    width: 100%; /* Nimmt den verfügbaren Platz im flex-Container ein */
    padding: 17.5px 45px;

    &:focus {
      outline: unset;
    }

    &:hover {
      border: 1px solid #444DF2;
      transition: ease-in-out 100ms;
    }
  }

  >img {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

  }

}

.user-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;

  >p {
    font-weight: 700;
    font-size: 32px;
  }
}

.user-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.mobile-user-img{
  height: 50px !important;
  width: 50px !important;
}

.avatar-with-status {
  position: relative;
}

.status {
  position: absolute;
  bottom: 11px;
  right: 9px;
}

.mobile-status{
  bottom: 5px;
  right: 5px;
}



.single-search {
  padding: 4px 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    cursor: pointer;
    background: #ECEEFE;
    border-radius: 30px;
    color: #535AF1;

  }

}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;

}

.username {
  font-size: 18px;
  margin: 0;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.showUserDialog {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

}

.hideUserDialog {
  display: none !important;
}

.user-dialog {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px 21px;
  border: 1px solid #ADB0D9;
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000014;
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  left: 20px;
  z-index: 10000;
  width: 100%;
  gap: 10px;
  max-width: 450px;
  max-height: 230px;
}




.single-user {
  display: flex;
  align-items: center;
  gap: 10px;


}