<div [ngClass]="{'container': !breakpointObserver.isXSmallOrSmall}">
    <div class="header">
        <h2>Mitglieder</h2>
        <div mat-dialog-close class="close" *ngIf="!breakpointObserver.isXSmallOrSmall"></div>
    </div>
    <div  class="content">
        @for (user of allUsersFromAChannelId; track $index) {
            <app-single-member [member]="this.user"></app-single-member>
            }
       <div class="add-member"> <div class="add-member-icon">  </div>     <span>Mitglieder hinzufügen</span></div>
    </div>
</div>