@import './../../../styles.scss';

.main {
    position: relative;
    background-color: white;
    height: calc(100svh - 137px);
    border-radius: 30px;
    font-family: 'Nunito';
    margin-right: 20px;
}

header {
    @include dFlex($jc: space-between);
    color: black;
    padding: 25px 45px;
    box-shadow: 0 .125rem .625rem #00000014;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.hoverEffect{
    &:hover {
        color: $contHover;

        svg {
            path {
                fill: $contHover;
            }
        }
    }
}

.channelName {
    @include dFlex($gap: 10px);
    height: 45px;
    font-size: 24px;
    font-weight: 700;
    padding: 6px 10px;
    cursor: pointer;

    p{
        margin: 0;
    }

    &:hover {
        background-color: $bgHover;
        border-radius: 100px;
    }
}


.avatar {
    display: flex;
    align-items: center;
    position: relative;    

    .avatar-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .status {
        width: 14px;
        height: 14px;
        position: absolute;
        bottom: 0;
        right: 0;       
    }
}

.users {
    @include dFlex($jc: flex-start, $gap: 10px);
    font-size: 20px;
    font-weight: 700;
}

.involvedUsers{
    @include dFlex($fd:row,$jc: flex-start);
    cursor: pointer;
    padding:3px 10px 3px 30px;
    border-radius: 30px;

    img {
        width: 40px;
        border-radius: 50%;
        background-color: white;
        margin-left: -20px;
    }

    p{
        margin:0 0 0 10px;
    }

    &:hover{
        background-color: $bgHover;
        color: $contHover;
    }
}

.newMsg{
    @include dFlex($fd: column,$ai: flex-start, $gap: 15px);
    width: 100%;

    span{
        font-size: 24px;
        font-weight: 700;
    }

    div{
        width:100%;

        input{            
            box-sizing: border-box;
            width:100%;
            border: 1px solid #ADB0D9;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 400;
            padding: 15px 20px;
            color: #686868;

            &:hover {
                border-color: #797EF3;
            }
        
            &:focus{
                outline: none;
                border-color: #444DF2;
            }
        }
    }
}

.addToChannel {
    cursor: pointer;
    height: 40px;

    &:hover {
        svg {
            path {
                fill: $contHover;
                scale: 1.05;
                transition: ease-in 0.15s;
            }
        }
    }
}

app-send-message{    
    position: absolute;
    bottom: 40px;
    right: 35px;
    left: 35px;
}


