@import './../../../styles.scss';

.main {
    position: relative;
    background-color: white;
    height: 100vh;
    border-radius: 30px;
    font-family: 'Nunito';
}

header {
    @include dFlex($jc: space-between);
    color: black;
    padding: 25px 45px;
    box-shadow: 0 .125rem .625rem #00000014;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.channel {
    @include dFlex($gap: 10px);
    height: 45px;
    font-size: 24px;
    font-weight: 700;
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
        background-color: $bgHover;
        color: $contHover;
        border-radius: 100px;

        svg {
            path {
                fill: $contHover;
            }
        }
    }
}

.users {
    @include dFlex($gap: 10px, $ai:center);
    font-size: 20px;
    font-weight: 700;
}

.involvedUsers{
    cursor: pointer;
    padding:3px 10px;
    &:hover{
        background-color: $bgHover;
        color: $contHover;
        border-radius: 30px;
        
    }
}

.addToChannel {
    cursor: pointer;
    height: 40px;

    &:hover {
        svg {
            path {
                fill: $contHover;
                scale: 1.05;
                transition: ease-in 0.15s;
            }
        }
    }
}

app-send-message{    
    position: absolute;
    bottom: 40px;
    right: 35px;
    left: 35px;
}


/////////////////singleChat/////////////
