<section>
    <div class="thread"> 
        <!-- for schleife für array anfertigen und dann überprüfen ob 
         leer oder nicht ->"startChat" ausblenden -->
        <app-single-message></app-single-message>
        <app-single-message></app-single-message>
        <app-single-message></app-single-message>
    </div>

 
    @if (this.threadIsEmpty === true && this.uiService.content === 'directMessage') {
    <div class="startChat"> 
        <!-- nur anzeigen wenn es keinen chatverlauf gibt -->
        <div>
            <img src="{{ user.avatar }}" referrerPolicy="no-referrer" alt="img avatar">
            <span>{{ user.username }}</span>
        </div>
        <div>
            <span>Diese Unterhaltung findet nur zwischen <span class="clickName">&#64;{{ user.username }}</span>
                und dir statt.</span>
        </div>
    </div>
}
</section>