<section>
    <div class="thread">
        <app-single-message></app-single-message>
    </div>

    <div class="startChat"> 
        <!-- nur anzeigen wenn es keinen chatverlauf gibt -->
        <div>
            <img src="/img/avatars/avatar_5.png" alt="img avatar">
            <span>{{ user.username }}</span>
        </div>
        <div>
            <span>Diese Unterhaltung findet nur zwischen <span class="clickName">&#64;{{ user.username }}</span>
                und dir statt.</span>
        </div>
    </div>
</section>