@import './../../../../styles.scss';

section{
    position: relative;   
    height: calc(100% - 300px); 
}

.thread{
    height: 100%;
    padding-top: 10px;
    overflow-y: scroll;
}

.startChat{
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $gap: 25px);
    padding-left: 45px;
    position: absolute;
    bottom: 0;

    div:first-child{
        display: flex;
        align-items: flex-end;
        gap: 25px;

        img{
            height: 100px;
            width: 100px;
            border-radius: 100%;
        }

        span{
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.clickName{
    cursor: pointer;
    color: #535af1;

    &:hover{
        font-weight: 700;
    }
}

*::-webkit-scrollbar {
    width: 8px;
    /* Breite des Scrollbalkens */
    max-height: 50px;
    background: #fffcf3;
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-track {
    margin: 25px 0;
    background: #adb0d9;
    /* Hintergrundfarbe des Scrollbalkens */
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb {
    cursor: pointer;
    min-height: 30px;
    //border: 1px solid black;
    background: #797ef3;
    /* Farbe des Griffs des Scrollbalkens */
    border-radius: 4px;
    /* Radius des Griffs des Scrollbalkens */
  }
  
  *::-webkit-scrollbar-thumb:hover {    
    background: #444df2;
    /* Farbe des Griffs des Scrollbalkens bei Hover */
  }