@import './../../../../styles.scss';

Section{
    position: relative;   
    height: calc(100% - 300px); 
    //height: 50%;
}

.thread{
    height: 100%; 
    padding-top: 10px;
    overflow-y: auto;
}

// app-single-message{
//     .floatingReactionBox {
//         @include dFlex($gap: 5px);
//         visibility: hidden;
//         border: 1px solid #ADB0D9;
//         background-color: white;
//         border-radius: 20px 20px 0 20px;
//         padding: 3px 15px 3px 20px;
//         position: absolute;
//         top: -20px;
//         transform: translateX(-100%);
//         transition: all 75ms ease-in-out;
    
//         &:hover :nth-child(5) {
//             cursor: pointer;
//         }
        
//         .svg-hover {
//             &:hover {
//                 path {
//                     fill: #535AF1;
//                 }
//             }
//         }
//     }
// }



.startChat{
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $gap: 25px);
    padding-left: 45px;
    position: absolute;
    bottom: 0;

    div:first-child{
        display: flex;
        align-items: flex-end;
        gap: 25px;

        img{
            height: 100px;
            width: 100px;
            border-radius: 100%;
        }

        span{
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.mobile-img{
    height: 88px !important;
    width: 88px !important;
}

.clickName{
    cursor: pointer;
    color: #535af1;

    &:hover{
        font-weight: 700;
    }
}
