<section class="main" [ngClass]="{
    'mobile-height': breakpointObserver.isXSmallOrSmall, 
    'no-gap': breakpointObserver.isXSmallOrSmall,
    'no-maxWidth': breakpointObserver.isXSmallOrSmall}">
    <header [ngClass]="{'padding-small': breakpointObserver.isXSmallOrSmall}">
        <div class="channelThread">
            <p>Thread</p>
            @if (this.uiService.content==='channelChat') {
            <span># Entwicklerteam</span>
            } @else {
                <span>#personal Thread</span>
            }
        </div>
        <div class="closeThread" (click)="this.uiService.closeThread()">
        </div>
    </header>
    <div></div>
    <app-send-message placeholder="Antworten..."></app-send-message>
</section>