<section class="main" [ngClass]="{
    'mobile-height': breakpointObserver.isXSmallOrSmall, 
    'no-gap': breakpointObserver.isXSmallOrSmall,
    'no-maxWidth': breakpointObserver.isXSmallOrSmall}">
    <header [ngClass]="{'padding-small': breakpointObserver.isXSmallOrSmall}">
        <div class="channelThread">
            <p>Thread</p>
            @if (this.uiService.content==='channelChat') {
            <span># Entwicklerteam</span>
            } @else {
                <span>#personal Thread</span>
            }
        </div>
        <div class="closeThread" (click)="this.uiService.closeThread()">
        </div>
    </header>
    <div class="chat">
    <div class="thread">
        <h1>{{ uiService.currentMessage.text }}</h1>
        @for (message of this.uiService.findThread(uiService.currentMessage)?.messages; track $index) {
            <app-single-message [id]="message.msgId" [currentMessage]="message"></app-single-message>
            }   
    </div>
    </div>

    <app-send-message placeholder="Antworten..." input="thread"></app-send-message>
</section>