<div class="channel-container">
    <div (click)="closeEditChannel()" (mouseenter)="isHoveredClose = true" (mouseleave)="isHoveredClose = false"
        class="close-container">
        <img [src]="isHoveredClose ? '/icons/close-blue.png' : '/icons/close.png'" alt="">
    </div>
    <div class="channel-header">
        <img src="/icons/tag.png" alt="">
        <h1>{{ channel?.title }}</h1>
    </div>
    <div [ngClass]="editName ? 'hide-border': ''" ngc class="channel-name-container">
        <div class="edit-name">
            <h2>Channel-Name</h2>
            <p (click)="editName = !editName" (click)="editChannelName()">{{ change }}</p>
        </div>
        <div [ngClass]="editName ? 'hide-channel-name': 'show-channel-name'"  class="channel-name">
            <img src="/icons/tag.png" alt="">
            <p>{{ channel?.title }}</p>
        </div>
        <div [ngClass]="editName ? 'show-channel-name': 'hide-channel-name'" class="name-input-container">
            <img src="/icons/tag.png" alt="">
            <input value="{{ channel?.title }}" type="text">
        </div>
    </div>

    <div class="channel-description-container">
        <div class="edit-name">
            <h2>Beschreibung</h2>
            <p>Bearbeiten</p>
        </div>
        <div class="channel-name">
            <p>{{ channel?.description }}</p>
        </div>
        <div class="line"></div>
        <div class="created-from">
            <h2>Erstellt von</h2>
            <p>{{ authService.currentUserSig()?.username }}</p>
        </div>
    </div>
    <div class="btn-container">
        <button>Channel verlassen</button>
    </div>

</div>