<section>
    <div class="divider">
        <div class="lineDiv">
            <hr>
        </div>
        <div class="date">Dienstag, 29. Oktober</div>
        <div class="lineDiv">
            <hr>
        </div>
    </div>
    <div class="messageBox">
        <div class="messageDetails">
            <div class="messageInfo">
                <p>20:23 Uhr</p>
                <p>Lucas Sommer</p>
            </div>
            <div class="messageText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ipsa, eveniet! Soluta quo quidem impedit inventore tempora
                consequuntur nesciunt quasi sequi quibusdam? Suscipit in modi
                incidunt iure quo debitis eius cupiditate.
            </div>
            <div class="reactionBox">
                <div class="emojiBox">
                    <img src="/icons/emoji-rocket.png" alt="rocket">
                    <p>1</p>
                </div>
                <div class="emojiBox">
                    <img src="/icons/emoji-check.png" alt="emoji">
                    <p>1</p>
                </div>
                <div class="addReaction"></div>                
            </div>
        </div>
        <img src="/img/avatars/avatar_5.png" alt="img avatar">
        <div class="floatingReactionBox">
            <img src="/icons/emoji-check.png" alt="emoji">
            <img src="/icons/emoji-check.png" alt="emoji">
            <img src="/icons/emoji-check.png" alt="emoji">
            <img src="/icons/emoji-check.png" alt="emoji">
            <img src="/icons/emoji-check.png" alt="emoji">
        </div>
    </div>
</section>