@import './../../../../../styles.scss';

section {
    position: relative;
}

.divider {
    @include dFlex();
    padding: 20px 35px;

    .date {
        border: solid 1px #ADB0D9;
        border-radius: 30px;
        padding: 5px 15px;
        font-size: 18px;
    }

    .lineDiv {
        @include dFlex();
        flex-grow: 2;

        hr {
            border: unset;
            height: 1px;
            width: 100%;
            background-color: #ADB0D9;
        }
    }
}

.myMessageBox {
    @include dFlex($ai: flex-start, $gap: 30px);
    padding: 8px 45px;
    position: relative;

    &:hover {
        .floatingReactionBox {
            visibility: visible;
            transform: translateX(0);
            transition: all 75ms ease-in-out;
        }
    }
}

.replyMessageBox {
    @include dFlex($fd: row-reverse, $ai: flex-start, $gap: 30px);
    padding: 8px 45px;
    position: relative;

    &:hover {
        background-color: $bgHover;        
        
        .replyMessageText {
            border: white;
            background-color: white;
        }

        .replyfloatingReactionBox{
            visibility: visible;
            transform: translateX(0%);
        }
    }
}

.replyfloatingReactionBox{
    visibility: hidden;
    transform: translateX(0%);

    :nth-child(5) {
        display: none;
    }
}


.floatingReactionBox {
    @include dFlex($gap: 5px);
    visibility: hidden;
    border: 1px solid #ADB0D9;
    background-color: white;
    border-radius: 20px 20px 0 20px;
    padding: 3px 15px 3px 20px;
    position: absolute;
    top: -20px;
    transform: translateX(-100%);
    transition: all 75ms ease-in-out;

    &:hover :nth-child(5) {
        cursor: pointer;
    }
    
    .svg-hover {
        &:hover {
            path {
                fill: #535AF1;
            }
        }
    }
}

.iconBox {
    @include dFlex();
    border-radius: 100%;
    width: 40px;
    height: 40px;

    &:hover {
        background-color: $bgHover;
        scale: 1.07;
    }
}



.messageDetails {
    @include dFlex($ai: flex-end, $fd: column, $gap: 8px);

    .messageInfo {
        @include dFlex($gap: 20px);

        :nth-child(1) {
            color: #686868;
            font-size: 14px;
            margin: 0;
        }

        :nth-child(2) {
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }
    }
}

.replyMessageDetails {
    align-items: flex-start;

    .messageInfo {
        @include dFlex($fd: row-reverse, $gap: 20px);
    }
}

.messageText {
    border: 1px solid #797EF3;
    border-radius: 30px 0 30px 30px;
    background-color: #797EF3;
    color: white;
    font-size: 18px;
    padding: 15px;
}

.replyMessageText {
    border: $bgHover;
    border-radius: 0 30px 30px 30px;
    background-color: $bgHover;
    color: black;
}

.bottomBox{
    @include dFlex($fd: column,$ai: flex-ends, $gap: 8px);    

    .answerBox{
        @include dFlex($gap: 20px);

        span{
            font-size: 18px;
            color: #535AF1;
            cursor: pointer;

            &:hover{
                font-size: 18px;
                font-weight: 700;
                color: #444DF2;
            }
        }

        p{
            margin: 0;
            font-size: 14px;
            color: #686868;
        }
    }
}

.reactionBox {
    @include dFlex($jc:flex-end,$gap: 10px);

    .emojiBox {
        @include dFlex($gap: 10px);
        border: 1px solid #ADB0D9;
        border-radius: 20px;
        padding: 5px 10px;
        background-color: white;

        p {
            margin: 0;
            font-size: 16px;
        }

        &:hover {
            cursor: pointer;
            border-color: #444DF2;
        }
    }
}

// .addReaction {
//     background-image: url("/icons/add_reaction.png");
//     height: 34px;
//     width: 34px;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-color: white;
//     border-radius: 20px;

//     &:hover {
//         background-image: url("/icons/add_reaction-blue.png");
//         background-color: $bgHover;
//     }
// }