<section class="overlay">
    <app-header-sign></app-header-sign>

    <div class="card">
        <img routerLink="/" class="arrow-back" src="/img/icons/login/arrow_back.svg">

        <h1>Konto erstellen</h1>
        <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
        <form>
            <div class="inputfield-container">
                <img src="/img/icons/login/user_icon.svg">
                <input id="name" type="text" [(ngModel)]="regFormData.username" name="username" required placeholder="Name und Nachname">
            </div>
            <div class="inputfield-container">
                <img src="/img/icons/login/mail_icon.svg">
                <input id="email" type="email" [(ngModel)]="regFormData.email" name="email" required placeholder="beispielname@email.com">
            </div>
            <div class="inputfield-container">
                <img src="/img/icons/login/password_icon.svg">
                <input id="password" type="password" [(ngModel)]="regFormData.password" name="password" placeholder="Passwort">
            </div>
        </form>
        <div class="btn-box width-100">
            <button class="btn-blue" (click)="onSubmit()">Weiter</button>
        </div>
    </div>
</section>
