@import './../../styles.scss';

.main {
    @include dFlex($gap: 20px);
    padding: 0 20px 25px 20px;
}

app-side-nav {
    width: 366px; //erstmal von Figma übernommen
}

app-channel-chat {
    width: 989px; //erstmal von Figma übernommen
}

app-thread {
    width: 485px; //erstmal von Figma übernommen
}

