@import './../../styles.scss';

.main {
    @include dFlex($gap: 20px);  
    height: 100svh;
    width: 100%;  
}

.right-content{
    width: calc(100% - 366px);
}

app-side-nav {
    width: 366px; //erstmal von Figma übernommen
}

app-channel-chat {
    width: 989px; //erstmal von Figma übernommen
}

app-thread {
    width: 485px; //erstmal von Figma übernommen
}

