@import './../../styles.scss';

.main {
    @include dFlex($gap: 20px);  
    height: calc(100svh - 137px);
    width: 100%;  
}

.right-content {
  display: flex; /* Flexbox für die Verteilung */
  width: calc(100% - 366px); /* Standardbreite mit Sidebar */
  box-sizing: border-box;
}

.full-width {
  width: 100% !important; /* Volle Breite, wenn Sidebar ausgeblendet */
}

app-side-nav {
}

app-channel-chat {
  flex-grow: 1; /* Nimmt den restlichen Platz ein */
  width: calc(100% - 485px); /* Platz mit sichtbarem Thread */
}

.no-thread {
  app-channel-chat {
    width: 100%; /* Nimmt die gesamte Breite ein */
  }

  .thread {
    display: none; /* Thread ausblenden */
  }
}


app-thread {
    box-sizing: border-box;
    margin-right: 20px;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Über allem */
  }
  
  /* Loader */
  .loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    
    > div {
      height: 100%;
      width: 8px;
      display: inline-block;
      float: left;
      margin-left: 2px;
      -webkit-animation: delay 0.8s infinite ease-in-out;
      animation: delay 0.8s infinite ease-in-out;
    }
    
    .bar1{
      background-color: #754fa0 ;
    }
    .bar2{
      background-color: #09b7bf;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .bar3{
      background-color: #90d36b;
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .bar4{
      background-color: #f2d40d;
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .bar5{
      background-color: #fcb12b;
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    .bar6{
      background-color: #ed1b72;
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }
  
  
  @-webkit-keyframes delay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes delay {
    0%, 40%, 100% { 
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

