@import '../../../styles.scss';


.header{
    @include displayFlex(space-between, center);
    padding-inline: 32px;
    padding-top: 32px;

    .logo-box{
        @include displayFlex();
        gap: 16px;
        font-size: 24px;
        cursor: pointer;

        img{
            height: 70px;
            width: 70px;
            object-fit: cover;
        }
    }

    .new-member-box{
        @include displayFlex(center, center, column);
        padding: 16px;
    }
}

.align-start{
    @include displayFlex(flex-start, center);
}