@import "./../../../styles.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  font-size: 18px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.username {
  font-size: 32px;
  font-weight: 700;
  margin: 45px 40px;
}

.header {
  @include dFlex($jc: space-between, $ai: unset, $fd: row, $gap: 0);
  margin: 45px 40px;
}

.avatar {
  width: 420px;
  margin: 0px 40px;
  border-radius: 200px;
}

.profil-name {
  margin: 45px 40px;
  @include dFlex($jc: space-between, $ai: unset, $fd: row, $gap: 0);
}

.online-status {
  display: flex;
  margin: 45px 40px;
  gap: 15px;
  align-items: center;
  >img {
    width: 16px;
    height: 16px;
  }
}

.active-online-status {
  color: #92c83e;
  font-weight: 400;
  font-size: 20px;
}

.absent-online-status {
  color: #686868;
  font-weight: 400;
  font-size: 20px;
}

.email {
  margin: 45px 40px;
  @include dFlex($jc: unset, $ai: flex-start, $fd: row, $gap: 20px);
  div {
    @include dFlex($jc: none, $ai: none, $fd: column, $gap: 0);
    p {
      margin: 0;
    }
  }
}

.my-email-adress {
  color: #1381ff;
}

button {
  margin: 0 0 40px 40px;
}
