@import './../../../../styles.scss';

section {
    font-family: 'Nunito';
    border-radius: 0 0 30px 30px;
    background-color: white;
    position: relative;
}

.main {
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;

    &:hover {
        border-color: #797EF3;
    }

    &:focus-within {
        border-color: #444DF2;
    }

    textarea {
        width: 100%;
        border: none;
        resize: none;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        text-wrap: wrap;
        word-break: break-word;
        color: #686868;
        font-family: 'Nunito';
    }
}

.interactDiv {
    @include dFlex($jc: space-between);

    .addDiv {
        @include dFlex($gap: 5px);
    }
}

.addFile {
    background-image: url("/icons/add-grey.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-image: url("/icons/add-blue.png");
        background-color: $bgHover;
        border-radius: 50%;
    }

    &:active {
        background-image: url("/icons/add-black.png");
    }
}

.addReaction {
    background-image: url("/icons/sentiment_satisfied-grey.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;

    &:hover {
        background-image: url("/icons/sentiment_satisfied-blue.png");
        background-color: $bgHover;
        border-radius: 50%;
    }

    &:active {
        background-image: url("/icons/sentiment_satisfied-black.png");
    }
}

.emojiPicker {
    position: absolute;
    left: 0px;
    bottom: 160px;
}


.tagUserIcon {
    background-image: url("/icons/alternate_email-grey.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-image: url("/icons/alternate_email-blue.png");
        background-color: $bgHover;
        border-radius: 50%;
    }

    &:active {
        background-image: url("/icons/alternate_email-black.png");
    }
}

.scrollDiv {
    background-color: #444df2;
    border-radius: 20px;
    position: absolute;
    bottom: 160px;
    left: 0;
    width: 200px;
    padding: 15px 0;
    box-shadow: -8px 6px 16px #00000054;
}

.userList {
    @include dFlex($fd: column, $jc: flex-start, $gap: 5px);
    height: 120px;
    width: 200px;
    color: white;
    background-color: #444df2;
    font-size: 18px;
    box-sizing: border-box;
    overflow-y: auto;

    span {
        text-align: center;
        cursor: pointer;

        &:hover {
            font-weight: 700;

        }
    }
}

::-webkit-scrollbar {
    background: #444df2;
}

::-webkit-scrollbar-track {
    margin: 15px 0;
}

.sendIcon {
    cursor: pointer;

    &:hover {
        svg {
            path {
                fill: #797EF3;
            }
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}