<section>
    <div class="workspace-container">
        <div class="workspace-text">
            <img src="./icons/Workspace-logo.png" alt="">
            <p>Devspace</p>
        </div>
        <img src="./icons/edit_square.png" alt="">
    </div>
    <div class="channel-row">
        <div class="channel-container">
            <div class="channel-header">
                <img src="./icons/arrow_drop_down.png" alt="">
                <img src="./icons/workspaces.png" alt="">
                <p>Channels</p>
            </div>
            <img src="./icons/add-black.png" alt="">
        </div>
        <div class="developer">
            <img src="./icons/tag.png" alt="">
            <p>Entwicklerteam</p>
        </div>
        <div class="add-channel">
            <img src="./icons/add_circle.png" alt="">
            <p>Channel hinzufügen</p>
        </div>
        
        <div class="channel-header">
            <img src="./icons/arrow_drop_down.png" alt="">
            <img src="./icons/account_circle.png" alt="">
            <p>Direktnachrichten</p>
        </div>



    </div>
</section>