<section [ngClass]="{'slide-in': menuVisible}">
    <div class="workspace-container">
        <div class="workspace-text">
            <img src="./icons/Workspace-logo.png" alt="">
            <p>Devspace</p>
        </div>
        <div (mouseenter)="isHoveredEdit = true" (mouseleave)="isHoveredEdit = false" class="edit-square">
            <img [src]="isHoveredEdit ? 'icons/edit_square-blue.png' : 'icons/edit_square.png'" alt="">
        </div>
    </div>
    <div class="channel-row">
        <div class="channel-container">
            <div (mouseenter)="changeImg()" (mouseleave)="resetImg()" class="channel-header">
                <img class="arrow-drop" [src]="arrowImg" alt="">
                <img class="workspaces-img" [src]="workspaceImg" alt="">
                <p>Channels</p>
            </div>
            <div (mouseenter)="isHoveredAdd = true" (mouseleave)="isHoveredAdd = false" class="add-black">
                <img [src]="isHoveredAdd ? 'icons/add-blue.png' : 'icons/add-black.png'" alt="">
            </div>
        </div>
        <div class="developer">
            <div (mouseenter)="changeImgDev()" (mouseleave)="resetImgDev()" class="dev-hover">
                <img [src]="tagImg" alt="">
                <p>Entwicklerteam</p>
            </div>
        </div>
        <div (mouseenter)="changeImgChannel()" (mouseleave)="resetImgChannel()" class="add-channel">
            <img [src]="addImg" alt="">
            <p>Channel hinzufügen</p>
        </div>

        <div (mouseenter)="changeImgMessage()" (mouseleave)="resetImgMessage()" class="channel-header">
            <img [src]="arrowImg" alt="">
            <img [src]="accountImg" alt="">
            <p>Direktnachrichten</p>
        </div>

        <div class="users">
            <div *ngFor="let user of firebaseService.allUsers; trackBy: firebaseService.allUsers.username"
                class="single-user">
                <div class="single-user-hover">
                    <div class="avatar">
                        <img [src]="user.avatar" alt="">
                    </div>
                    <div class="username">
                        <p>{{ user.username }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<div (mouseenter)="changeImgMenu()" (mouseleave)="resetImgMenu()" (click)="toggleMenu()" class="workspace-show-hide">
    <p>Workspace-Menü schließen</p>
    <img [src]="menuImg" alt="">

</div>