
$bgHover: #ECEEFE;
$contHover: #535AF1;

@mixin dFlex($jc: center, $ai: center, $fd: row, $gap: 0) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
  }
