<section class="overlay">
    <app-header-sign></app-header-sign>

    <div class="card">
        <img routerLink="/register" class="arrow-back" src="/img/icons/login/arrow_back.svg">

        <h1>Passwort zurücksetzen</h1>
        <p>Bitte geben sie ihre E-mail-Addresse an.</p>
        
        <form>
            <div class="input-control">
                <div class="inputfield-container">
                    <img src="/img/icons/login/mail_icon.svg">
                    <input id="email" type="email" [formControl]="emailForm" required
                        placeholder="beispielname@email.com">
                </div>
                <div class="hint">
                    @if (emailForm.invalid && (emailForm.touched ||
                    emailForm.dirty)) {
                        @if (emailForm.errors?.['required']) {
                        <small>*Email is requiered</small>
                        }
                        @if (emailForm.errors?.['pattern']) {
                        <small>*Ungültige Email</small>
                        }
                    }
                </div>
            </div>
        </form>
        
        <div class="btn-box width-100">
            <button class="btn-blue" [disabled]="!emailForm.valid" [class.btn-inactive]="!emailForm.valid" (click)="onSubmit()">Weiter</button>
        </div>
    </div>
</section>
